body {
  padding: 0;
  margin: 0;
}
.container {
  height: 100vh;
  width: 1440px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: black;
}

.goku {
  position: absolute;
  transform: translate(-275%, 50%);
}

.spawn {
  position: absolute;
  transform: translate(275%, 50%)
}

.goku-img {
  object-fit: cover;
  height: 300px;
  width: 200px;
}

.spawn-img {
  object-fit: cover;
  height: 300px;
  width: 200px;
}

.fireball {
  left: 0px;
}
