body {
  padding: 0;
  margin: 0;

}
.container {
  height: 100vh;
  width: 1440px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: black; */
  background: url("https://media.giphy.com/media/UEaz2KMsVENyM/source.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* https://thumbs.gfycat.com/FlakyPassionateDuiker-size_restricted.gif */
/* https://media.giphy.com/media/ctGFLebG1AqK4/giphy.gif */
/* https://media.giphy.com/media/UEaz2KMsVENyM/source.gif */

.goku {
  position: absolute;
  transform: translate(-175%, 50%);
}

.spawn {
  position: absolute;
  transform: translate(275%, 50%)
}

.goku-img {
  object-fit: fill;
  height: 300px;
  width: 300px;
}

.spawn-img {
  object-fit: cover;
  height: 300px;
  width: 200px;
}

.fireball {
  left: 0px;
}

.fire-floor {
  width: 100%;
  object-fit: cover;
  transform: translateY(50%);
  position: absolute;;
}
